crawling/batdongsan.com/config
.idea
**/*.pyc
crawling/batdongsan.com/logs
crawling/batdongsan.com/driver
crawling/batdongsan.com/daily_reports
crawling/batdongsan.com/new_task.py
crawling/batdongsan.com/worker.py
crawling/nhatot.com/config
hanhpv_accessKeys.csv
ingest/config.ini
ingest/migration_data/*
ingest/copy_data.sql